body{
    
    cursor: pointer;
}

.container {
    width: 40px;
    height: 40px;
    padding: 1px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center
}

.container .unread{

    position: relative;
}
.container .unread .count{
    position: absolute;
    color: #fff;
    right: 0px;
    top: 2px;
    width: 20px;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 600;
    font-size: 10px;
    text-align: center;
}
.container .unread .img img{
    width: 38px;      
}

:root{
    --animate-duration:.6s;
    --animate-delay:.6s;
}
.animate__animated{
    -webkit-animation-duration:.6s;
    animation-duration:.6s;
    -webkit-animation-duration:var(--animate-duration);
    animation-duration:var(--animate-duration);
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
    animation-iteration-count: 2;
    -moz-animation-iteration-count: 2;
    -webkit-animation-iteration-count: 2;
    -o-animation-iteration-count: 2;
}

@-webkit-keyframes swing {
    20%{-webkit-transform:rotate(15deg);transform:rotate(15deg)}
    40%{-webkit-transform:rotate(-10deg);transform:rotate(-10deg)}
    60%{-webkit-transform:rotate(5deg);transform:rotate(5deg)}
    80%{-webkit-transform:rotate(-5deg);transform:rotate(-5deg)}
    to{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
}
@keyframes swing{
    20%{-webkit-transform:rotate(15deg);transform:rotate(15deg)}
    40%{-webkit-transform:rotate(-10deg);transform:rotate(-10deg)}
    60%{-webkit-transform:rotate(5deg);transform:rotate(5deg)}
    80%{-webkit-transform:rotate(-5deg);transform:rotate(-5deg)}
    to{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
}
.animate__swing{
    -webkit-transform-origin:top center;
    transform-origin:top center;
    -webkit-animation-name:swing;
    animation-name:swing
}